* {
	margin: 0;
	padding: 0;
	outline: none;	
}

body {
	background: #DCDCDC;
	font: 12px Arial, Tahoma, sans-serif;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 18px;
	color: #515151;
	padding-top: 14px;
	padding-left: 18px;
 }
 h1 a {
 	color: #515151;
 }
 .f_left, #header_nav ul li, h1, .header_buttom ul li {
 	float: left;
 }

 .f_right, input[name=topsearch]{
 	float: right;
 }

 .h1description{
	color: #D1D1D1;
	font-size: 11px;
	position: absolute;
	left: 18px;
	bottom: 13px;
}
.h1description a {
	color: #D1D1D1;
}
#page_align {
	width: 1000px;
	margin: 20px auto;
	background: url("../images/page_bg.png") #FFF;
	box-shadow: 0px 1px 3px #DDDDDD;
	-webkit-box-shadow: 0px 1px 3px #DDDDDD;
	-o-box-shadow: 0px 1px 3px #DDDDDD;
	-moz-box-shadow: 0px 1px 3px #DDDDDD;
	overflow: hidden;
}

.b3radius, .header_buttom ul li {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
}

#header {
	height: 100px;
	border-bottom: solid 3px #bccadc;
	background: #FFF;
}

#header_nav{
	height: 35px;
	border-bottom: solid 1px #000;
}
#header_nav ul {
	list-style: none;
}
#header_nav ul li {
	border-right: solid 1px #000;

}
#header_nav ul li:last-child {
	border-right: none;
}
#header_nav ul li a {
	color: #868686;
	display: block;
	line-height: 35px;
	padding:0 110px;
}
#header_nav ul li a:hover{
	background: rgba(0,0,0,.05)
}
input[name=topsearch] {
	margin-right: 9px;
	height: 25px;
	width: 145;
	margin-top: 5px;
	border: none;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,.1);
	background: #F0F0F0;
	padding:0 5px;
}
.search_img{
	margin-top: 10px;
	margin-right: 6px;
}
#header_cont{
	background: url("../images/77.jpg") repeat-x left top;
	position: relative;
	height: 60px;
}
.header_right{
	width: 580px;
	height: 48px;
	margin-top: 6px;
	margin-right: 8px;
}
.header_profile{
	height: 48px;
	border-right: solid 1px #F1F2F2;
	padding-right: 5px;
	max-width: 195px;
	padding-left: 25px;
	position: relative;
}
.header_text {
	color: #515151;
	max-width: 195px;
	text-align: right;
	margin-top: 10px;
	margin-right: 9px;
}
.header_text span {
	font-size: 10px;
	color: #B6B6B6;
}
.header_profile ul {
	list-style: none;
	display: none;
	
}
.header_profile:hover {
	background: rgba(0,0,0,0.05);
}
.header_profile:hover ul {
	display: block;
	position: absolute;
	top: 48px;
	background: rgba(0,0,0,0.25);
	right: -1px;
	width: 100.5%;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.header_profile:hover ul li{
	text-align: right;
	padding: 3px 5px;
}
.header_profile:hover ul li a{
	color: #FFF;
}
.hp_photo{
	border: solid 3px #AFDFDB;
	margin-top: 2px;
}
.header_buttom ul {
	list-style: none;
}
.header_buttom ul li {
	background: #8F9CA8;
	margin-right: 9px;
	margin-top: 6px;
}
.header_buttom ul li:hover {
	background: #89a8bf;
}
.header_buttom ul li a{
	padding: 6px;
	padding-left: 26px;
	color: #FFF;
	display: block;
}
#sitebar {
	width: 195px;
}
.sb_header {
	background: url("../images/sb_header.png") repeat-x;
	color: #FFF;
	line-height: 31px;
	padding-left: 6px;
	display: block;
}
.sb_header>i {
	background: url("../images/sbh_header_sprite.png") no-repeat;
	display: block;
	height: 19px;
	width: 19px;
	float: left;
	margin-top: 6px;
	margin-right: 6px;
}
.sb_nav ul li a {
	color: #FFF;
	display: block;
}
.sb_nav ul {
	list-style: none;
}
.sb_nav ul li {
	background: url("../images/sb_buttom.png") repeat-x;
	line-height: 31px;
	padding-left: 8px;
	color: #FFF;
	display: block;
}
.sb_nav ul li:hover {
	background: url("../images/sb_header.png") repeat-x;
	line-height: 31px;
	padding-left: 8px;
	color: #FFF;
	display: block;
}
.interview ul li{
	color: #fff;
	font-size: 13px;
	padding-left: 25px;
	padding-bottom: 5px;
	line-height: 23px;
	background: url("../images/answer.png") no-repeat;
	margin-left: 5px;
	margin-top: 5px;
	display: block;
}
.interview ul li:hover{
	background: url("../images/answer2.png") no-repeat;
	display: block;
}
.interview ul li a{
	display: block;
	color: #fff;
}
.statick ul li {
	color: #FFF;
	line-height: 28px;
	padding-left: 6px;
	display: block;
	
}
.statick ul li:hover {
	background: #5b767a;

}
#content {
	width: 800px;
	height: 400px;
	padding-bottom: 50px;
}
#content p {

	margin-top: 20px;
	font-size: 20px;
}
.osn {
	display: block;
	margin-top: 80px;
	margin-left: 80px;
	width: 640px;
	height: 150px;
	outline: solid 1px #000;
}
.links a {
	font-size: 15px;
	margin-right: 40px;
	color: #FFF;
	height: 45px;
	width: 110px;
	display: inline-block;
	/*outline: solid 1px #000;*/
	background: #8F9CA8;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
}
.links {
	padding-top: 50px;
	display: block;
	outline: solid 1px #000;
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding-left: 20px;


}
.clr {
	clear: both;

}


#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 960px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url("../images/156.jpg") no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 80px;
	width: 80px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url("../images/157.jpg") no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 80px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}

iframe
{position: relative; right: -105px;}

h3 {
  text-shadow: -1px -1px #000,
               0 1px 0 #444;
  color: #222;
  transition: all 1s;
  }
  H1:hover {
    text-shadow: -1px -1px #000,
               0 1px 0 #444;
    color: #1A1A1A;
    }

  
